<%- include("header.ejs") -%>
<a href="/about">About me</a>
<div class="box" id="heading">
        <h1><%= date %></h1>
    </div>
<div class="box">
    <% for (var i=0; i< toDoItems.length; i++){%>
        <div class="item">
            <input type="checkbox">
            <p><%= toDoItems[i] %></p>
        </div>
        <%}%>
    <form action="/" class="class" method="post">
        <input type="text" name="newTask" placeholder="New Task" autocomplete="off"> <!--autocomplete tähendab, et ei näitaks eelnevaid kirjeid, mida on enne sisestatud-->
        <button type="submit">+</button>

    </form>
</div>
<%- include("footer.ejs") -%>
</body>
</html>